*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.profilepage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: rgba(202, 167, 212, 0.13);
    padding: 0px 0px;
}

button:hover{
    background-color: black;
    color: aliceblue;
}
.button{
    margin: 10%;
    padding: 5px 15px;
    border-radius: 5px;
    width: 40%;
    margin: 20px auto;
    
}